/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*asdas dsad sad asd asdsa a*/


body {
	margin: 0px auto;
	background-color: #333;
}

div#container {
	margin: 0px auto;
}

div#header {
	background-color: #000;
	display: block;
	height: 100px;
	margin: 0px;
	padding: 30px;
}

div#header h1 {
	margin-top: 20px;
	margin-left: 150px;
}

div#header a {
	display: block;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	font-family: "Helvetica Neue", Arial;
	font-size: 40px;
	font-weight: bold;
	color: #E4E2E2;
}

div#header p {
	display: block;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	font-family: Verdana, Arial;
	font-size: 15px;
	color: #E4E2E2;
	margin-top: 10px;
	margin-left: 150px;
}

div#welcome_blurb {
	display: block;
	width: 525px;
	margin-top: 50px;
	margin bottom: 25px;
	margin-left: 180px;
	padding-top: 10px;
	font-family: "Arial";
	line-height: 130%;
	color: #E4E2E2;
	font-size:18px;
	display: block;
}

div#welcome_blurb p {
	margin-bottom: 5px;
}

div#welcome_blurb p#bienvenida {
	font-size: 30px;
	line-height: 70px;
}

div#faqs {
	margin-bottom: 50px;
	float: right;
	padding: 0px;
}

div#faqs ul li {
	width: 350px;
	height: 75px;
	margin-right: 180px;
}

div#footer {
	clear: both;
}

div#faqs ul li a {
	line-height: 75px;
	text-decoration: none;
	border: 2px solid #389DAD;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-family: "Helvetica Neue", Arial;
	font-size: 20px;
	font-weight: bold;
	color: #E4E2E2;
	background-color: #389DAD;
	display: block;
	padding: 0px;
}

div#faqs ul li a:hover {
	background-color: #23636D;
	border: 2px solid #23636D;
	border-radius: 10px;	
}

div#menu ul {
	list-style-type: none;
	margin-top: 40px;
	margin-left: 180px;
	padding: 0px;
	font-family: "Helvetica Neue", Arial;
	font-weight: bold;
	font-size: 20px;
	float: left;
}

div#menu ul li {
	background-color: #389DAD;
	width: 250px;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

div#menu ul li a {
	line-height: 50px;
	height: 50px;
	color: #E4E2E2;
	text-decoration: none;
	display: block;
	padding: 10px 10px 10px 40px;
}

div#menu ul li a:hover {
	background-color: #23636D;
	border-radius: 5px;	
}

div#menu ul li a.active {
	border-left: 10px solid #23636D;
	background-color: #23636D;
	border-radius: 5px;
}

div#main_content {
	display: block;
	width: 500px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 180px;
	border: 1px solid #F2F0F0;
	border-radius: 5px;
	background-color: #F2F0F0;
	padding: 40px 60px;
	font-size: 15px;
	font-family: Arial;
	float: right;
}

div#main_content h3 {
	font-family: "Verdana";
	font-size: 20px;
	font-weight: bold;
	line-height: 23px;
	margin-top: 25px;
	margin-bottom: 15px;
}

div#main_content p {
	font-family: Arial;
	font-size: 15px;
	line-height: 23px;
	margin-bottom: 10px;
}


div#main_content ol li {
	list-style: disc;
	font-family: Arial;
	font-size: 15px;
	line-height: 23px;
	margin-bottom: 10px;
}

div#main_content ul li {
	font-family: Arial;
	font-size: 15px;
	line-height: 23px;
	margin-bottom: 10px;
}

div#main_content a {
	color: #389DAD;
	border-bottom: 1px dotted #245C81;
	text-decoration: none;
}

div#main_content a:hover {
	border-bottom: 1px dotted #2A2A2A;
	text-decoration: none;
}

div#enlaces_piso table {
	margin-top: 10px;
}

div#enlaces_piso tr td {
	padding: 5px 5px 5px 5px;
	font-size: 15px;
	line-height: 23px;
}

div#unidades_medida table {
	margin-top: 15px;
	margin-bottom: 20px;
}

div#unidades_medida tr th {
	padding: 5px 5px 5px 5px;
	font-size: 15px;
	line-height: 23px;
}

div#unidades_medida tr td {
	padding: 5px 5px 5px 5px;
	font-size: 15px;
	line-height: 23px;
	text-align: center;
	border-top: 1px dotted #333;
}

strong {
	font-weight: bold;
}

div#footer {
	height: 100px;
	background-color: #000;
	font-family: "Helvetica Neue", "Arial";
	font-size: 14px;
	color: #E4E2E2;
}

div#footer a {
	border-bottom: 1px dotted #E4E2E2;
	color: #E4E2E2;
	text-decoration: none;
	padding-bottom: 2px;
	line-height: 23px;
}

div#about a {
	float: left;
	margin-left: 180px;
	margin-top: 15px;
	text-decoration: none;
}

div#copyright p {
	float: right;
	margin-right: 180px;
	margin-top: 15px;
	text-align: right;
}

div#footer a#ccommons {
	border: none;
}